.ics-input-container {
    width: 100%;
    position: relative;
    background-color: rgb(245, 245, 245);

    * {
        box-sizing: border-box;
    }

    .prefix-title {
        color: rgb(115, 116, 128);
        font-size: 14px;
    }


    :deep(.ics-input__wrapper) {
        height: 44px;
        box-sizing: border-box;
        background-color: rgb(245, 245, 245);
        border: 1px solid transparent;
        border-radius: 0px;
        box-shadow: none;
        padding: 0px 11px;

        &.is-focus {
            box-shadow: 0 0 0 1px var(--ics-color-primary);
        }
    }

    :deep(.ics-input__inner) {
        background-color: rgb(245, 245, 245);
    }

    :deep(.ics-input__inner::placeholder) {
        font-size: 15px;
        font-family: Microsoft YaHei;
    }
}
.ics-input-container-disabled { // 禁用状态样式
    :deep(.ics-input__wrapper) {
        
        opacity: 0.6;
        &.is-hovering {
            box-shadow: none;
        }
        &.is-focused {
            box-shadow: none;
        }
    }
}