body {
  color: #303133;
  font-size: 16px;
  line-height: 1.4;
  font-variant: tabular-nums;
  background-color: #fff;
  font-feature-settings: "tnum";
  margin: 0;
  padding: 0;
  height: 100vh;
}
:not(.in-iframe-container) {




}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
main {
  h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #383737d9;
  font-weight: 500;
}

h3 {
  margin-top: 40px;
  margin-bottom: 10px;
  color: #606266;
  font-weight: 600;

}

h1,h2 {
  margin-top:  30px;
  margin-bottom: 30px;
  color: #606266;
  font-weight: 600;
}

}
// h3,
// h4,
// h5,
// h6 {
//   margin-top: 0;
//   margin-bottom: 0.5em;
//   color: #383737d9;
//   font-weight: 500;
// }

// h3 {
//   margin-top: 40px;
//   margin-bottom: 10px;
//   color: #606266;
//   font-weight: 600;

// }

// h1,h2 {
//   margin-top:  30px;
//   margin-bottom: 30px;
//   color: #606266;
//   font-weight: 600;
// }

.mzl-ui-doc {
  // font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  //   Helvetica Neue, Arial, Noto Sans, sans-serif, apple color emoji,
  //   segoe ui emoji, Segoe UI Symbol, noto color emoji, sans-serif;
}
pre {
  margin: 0;
}
pre > code {
  font-family: Lucida Console, Consolas, Monaco, Andale Mono, Ubuntu Mono,
    monospace;
  line-height: 1.7;
  direction: ltr;
  white-space: pre;
  text-align: left;
  word-wrap: normal;
  word-break: normal;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: 0 0;
  font-size: 14px;
  border: 1px solid #f0f0f0;
}
.color-itembox {
  width: 100%;
  height: 100px;
  li {
    list-style: none;
    width: 240px;
    height: 100%;
    left: none;
    float: left;
    margin-right: 0.5vw;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    span {
      width: 100%;
      display: inline-block;
      line-height: 24px;
      font-size: 14px;
    }
    span:first-child {
      margin-top: 12px;
    }
  }
  span.outherColor {
    width: 90px;
    height: 100%;
    display: inline-block;
    margin-right: 0.5vw;
    border-radius: 4px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 14px;
  }
}
.componetnsBox {
  // padding: 30px 15px;
  // border: 1px solid #f0f0f0;
  // border-bottom: 0px;
  // border-radius: 4px 4px 0 0;
  // box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #606266;
  font-weight: 600;
  font-size: 24px;
}
pre > code > span {
  font-size: 14px;
}
iframe {
  border: 0;
}
/** iframe 中的样式 **/
.in-iframe-container .markdown-body {
  padding-bottom: 30px;
  > [class^="demo-"] {
    min-height: calc(100vh - 64px);
  }
 
}
/** 非iframe 中的样式 **/
.not-iframe-container .markdown-body {
  ul{
    padding-left: 32px;
    // margin-left: 24px;
  }
  ul li {
    padding: 8px 0px;
    font-size: 14px;
    color: #333;
    transition: background-color 0.2s;
    list-style: circle;
    code {
      color: var(--icsm-doc-code-color);
      font-family: var(--icsm-doc-code-font-family);
      white-space: pre-wrap;
      word-wrap: break-word;
      background-color: var(--icsm-doc-code-background);
      border-radius: var(--icsm-doc-border-radius);
      padding: 2px 4px;
    }
  }
  margin-bottom: 20px;
  /** vant md 表格 **/
  table {
    width: 100%;
    margin-top: 12px;
    color: var(--icsm-doc-text-color-3);
    font-size: 14px;
    line-height: 1.5;
    background-color: #fafafa;
    padding-left: 20px ;

    th {
      padding: 8px 10px;
      font-weight: 600;
      text-align: left;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    td {
      padding: 8px;
      border-top: 1px solid var(--icsm-doc-border-color);

      &:first-child {
        padding-left: 0;

        // version tag
        code {
          margin: 0;
          padding: 2px 6px;
          color: var(--icsm-doc-blue);
          font-weight: 600;
          font-size: 11px;
          background-color: rgba(25, 137, 250, 0.15);
          border-radius: 20px;
        }
      }

      &:last-child {
        padding-right: 0;
      }
    }

    em {
      display: inline-block;
      color: var(--icsm-doc-green);
      font-size: 14px;
      font-family: var(--icsm-doc-code-font-family);
      font-style: normal;
      max-width: 300px;
      -webkit-font-smoothing: auto;
    }
  }
   /** vant md 表格 **/
}


/** vant 文档样式变量 **/

:root,
:host {
  // colors
  --icsm-doc-black: #000;
  --icsm-doc-white: #fff;
  --icsm-doc-gray-1: #f7f8fa;
  --icsm-doc-gray-2: #f2f3f5;
  --icsm-doc-gray-3: #ebedf0;
  --icsm-doc-gray-4: #dcdee0;
  --icsm-doc-gray-5: #c8c9cc;
  --icsm-doc-gray-6: #969799;
  --icsm-doc-gray-7: #646566;
  --icsm-doc-gray-8: #323233;
  --icsm-doc-blue: #1989fa;
  --icsm-doc-green: #07c160;
  --icsm-doc-purple: #8e69d3;

  // sizes
  --icsm-doc-padding: 32px;
  --icsm-doc-row-max-width: 1680px;
  --icsm-doc-nav-width: 220px;
  --icsm-doc-border-radius: 20px;
  --icsm-doc-simulator-width: 360px;
  --icsm-doc-simulator-height: 620px;
  --icsm-doc-header-top-height: 64px;


  // fonts
  --icsm-doc-code-font-family: 'Menlo', 'Source Code Pro', 'Monaco',
    'Inconsolata', monospace;


em {
  letter-spacing: 1px;
}


  /** 文档默认模式的变量 start **/ 
  // text
  --icsm-doc-text-color-1: var(--icsm-doc-black);
  --icsm-doc-text-color-2: var(--icsm-doc-gray-8);
  --icsm-doc-text-color-3: #34495e;
  --icsm-doc-text-color-4: var(--icsm-doc-gray-6);
  --icsm-doc-link-color: var(--icsm-doc-blue);

  // background
  --icsm-doc-background: #eff2f5;
  --icsm-doc-background-2: var(--icsm-doc-white);
  --icsm-doc-background-3: var(--icsm-doc-white);
  --icsm-doc-header-background: #011f3c;
  --icsm-doc-border-color: var(--icsm-doc-gray-2);

  // code
  --icsm-doc-code-color: #58727e;
  --icsm-doc-code-comment-color: var(--icsm-doc-gray-6);
  --icsm-doc-code-background: var(--icsm-doc-gray-1);

  // blockquote
  --icsm-doc-blockquote-color: #2f85da;
  --icsm-doc-blockquote-background: #ecf9ff;
}
 /** 文档默认模式的变量 end **/ 




// 默认模式的变量,已copy到外层（icsm文档暂时用不到）
.icsm-doc-theme-light {
  // text
  --icsm-doc-text-color-1: var(--icsm-doc-black);
  --icsm-doc-text-color-2: var(--icsm-doc-gray-8);
  --icsm-doc-text-color-3: #34495e;
  --icsm-doc-text-color-4: var(--icsm-doc-gray-6);
  --icsm-doc-link-color: var(--icsm-doc-blue);

  // background
  --icsm-doc-background: #eff2f5;
  --icsm-doc-background-2: var(--icsm-doc-white);
  --icsm-doc-background-3: var(--icsm-doc-white);
  --icsm-doc-header-background: #011f3c;
  --icsm-doc-border-color: var(--icsm-doc-gray-2);

  // code
  --icsm-doc-code-color: #58727e;
  --icsm-doc-code-comment-color: var(--icsm-doc-gray-6);
  --icsm-doc-code-background: var(--icsm-doc-gray-1);

  // blockquote
  --icsm-doc-blockquote-color: #2f85da;
  --icsm-doc-blockquote-background: #ecf9ff;
}

// 暗黑模式的变量（icsm文档暂时用不到）
.icsm-doc-theme-dark {
  // text
  --icsm-doc-text-color-1: var(--icsm-doc-white);
  --icsm-doc-text-color-2: rgba(255, 255, 255, 0.9);
  --icsm-doc-text-color-3: rgba(255, 255, 255, 0.75);
  --icsm-doc-text-color-4: rgba(255, 255, 255, 0.6);
  --icsm-doc-link-color: #1bb5fe;

  // background
  --icsm-doc-background: #202124;
  --icsm-doc-background-2: rgba(255, 255, 255, 0.06);
  --icsm-doc-background-3: rgba(255, 255, 255, 0.1);
  --icsm-doc-header-background: rgba(1, 31, 60, 0.3);
  --icsm-doc-border-color: #3a3a3c;

  // code
  --icsm-doc-code-color: rgba(200, 200, 200, 0.85);
  --icsm-doc-code-comment-color: var(--icsm-doc-gray-7);
  --icsm-doc-code-background: rgba(0, 0, 0, 0.24);

  // blockquote
  --icsm-doc-blockquote-color: #bae6fd;
  --icsm-doc-blockquote-background: rgba(7, 89, 133, 0.25);
}

/** vant 文档样式变量 **/





/** iframe 暗黑样式  **/
.iframe-body--dark {
  background-color: black!important;
  .header-block-box{
    background-color: #1c1c1e!important;
    box-shadow: none!important;
    a {
      color: rgba(255,255,255,1)!important;
    }
  }
  .in-iframe-container {
    background-color: black!important;
    .markdown-body {
      padding-bottom: 30px;
      > [class^="demo-"] {
        background-color: black!important;
      }
    }
    [class^="icsm-doc-demo-block"] {
      background-color: black!important;
    }
  }
}
/** iframe 暗黑样式  **/


