.my-inputs {
    width: 100%;
    // background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    border: 1px solid var(--Border, rgba(233, 233, 233, 1));
    border-radius: 4px;
    background: var(--Background, rgba(245, 245, 245, 1)); 
  
    .title {
      padding-left: 12px;
      flex-grow: 0;
      white-space: nowrap;
      color: #737480;
      font-size: 14px;
    }
  
    .left-input,
    .right-input {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }
  
    .sp {
      flex-grow: 2;
      box-sizing: border-box;
      height: 32px;
      max-width: 5px;
      min-width: 5px;
      position: relative;
  
      &::before {
        position: absolute;
        top: 50%;
        content: '';
        display: inline-block;
        height: 2px;
        max-width: 5px;
        min-width: 5px;
        background-color: rgba(121, 110, 101, .6);
        // transform: translateY(8px);
      }
    }
  
  
    :deep(.ics-input__wrapper) {
      box-sizing: border-box;
      box-shadow: none;
    //   height: 44px;
      height: 32px;
      border: 1px solid transparent;
      background-color: rgb(245, 245, 245);
      padding: 0px 11px;

    
  
      .ics-input__suffix {
        display: inline-block;
        position: absolute;
        right: 8px;
        // transform: translateY(8px);
        transform: translateY(1px);
      }
    }

    :deep(.ics-input) {
        height: 32px!important;
    }

    :deep(.ics-input__inner) {
        // transform: translateY(2px);
        text-align: center;
        line-height: 32px;
      
        &::placeholder {
          font-size: 14px;
          text-align: center;
          font-family: Noto Sans SC;
          color: var(--c, rgb(204, 204, 204));
          font-weight: 400;
        }
      }
  }
  
  .my-inputsfocus {
    box-shadow: 0 0 0 1px var(--ics-color-primary);
  }
  .ics-my-inputs-container-disabled{
    :deep(.ics-input__wrapper) {
          
          opacity: 0.6;
          &.is-hovering {
              box-shadow: none;
          }
          &.is-focused {
              box-shadow: none;
          }
      }
  }