.my-inputs {
    width: 100%;
    background-color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 0px;
  
    .title {
      padding-left: 12px;
      flex-grow: 0;
      white-space: nowrap;
      color: #737480;
      font-size: 14px;
    }
  
    .left-input,
    .right-input {
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }
  
    .sp {
      flex-grow: 0;
      height: 44px;
      width: 10px;
      position: relative;
  
      &::before {
        position: absolute;
        top: 50%;
        content: '';
        display: inline-block;
        height: 2px;
        width: 10px;
        background-color: rgba(121, 110, 101, .6);
        // transform: translateY(8px);
      }
    }
  
  
    :deep(.ics-input__wrapper) {
      box-sizing: border-box;
      box-shadow: none;
      height: 44px;
      border: 1px solid transparent;
      background-color: rgb(245, 245, 245);
      padding: 0px 11px;
  
      .ics-input__suffix {
        display: inline-block;
        position: absolute;
        right: 8px;
        transform: translateY(8px);
      }
    }

    :deep(.ics-input__inner) {
        transform: translateY(2px);
        text-align: center;
      
        &::placeholder {
          font-size: 15px;
          text-align: center;
        }
      }
      :deep(.ics-input__inner) {
        transform: translateY(2px);
        text-align: center;
      
        &::placeholder {
          font-size: 15px;
          text-align: center;
        }
      }
  }
  
  
  .my-inputsfocus {
    box-shadow: 0 0 0 1px var(--ics-color-primary);
  }
  .ics-my-inputs-container-disabled{
    :deep(.ics-input__wrapper) {
          
          opacity: 0.6;
          &.is-hovering {
              box-shadow: none;
          }
          &.is-focused {
              box-shadow: none;
          }
      }
  }